body {
    background-color: #B15E6C;
}

#items {
    list-style: none;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item img {
    width: 300px;
    height: auto;
    justify-self: auto;
}

.btn {
    padding: 5px 10px;
    background-color: #4c4c4c;
    color: white;
    border: none;
    cursor: pointer;
}

#footer {
    background-color: gray;
    text-align: center;
    grid-area: pie;
}

#formulario {
    border: solid 7px;
    }

#img1 {
    justify-self: auto;
}

#img2 {
    justify-self: auto;
}